@import "tailwindcss";

@font-face {
  font-display: swap;
}
@layer utilities {
  /* Enable smooth scroll globally */
  html {
    scroll-behavior: smooth;
  }


  /* Scrollbar styling for all scrollable elements */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.purple.500'); /* Tailwind purple */
    border-radius: 9999px; /* Fully rounded */
  }

  ::-webkit-scrollbar-track {
    background-color: theme('colors.gray.100'); /* Light track */
  }
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.purple.500') theme('colors.gray.100');
}
